  <div class="container d-flex justify-content-center">
      <div class="card v-align" style="width: 25rem; background-color:brown">
          <div class="card-body justify-content-center">
            <h5 class="card-title title">X and Os</h5>
            <div class="labletext"><i>Beat your friends in tic tac toe</i></div>
            <div class="buttonContainer">
            <img src="../../assets/images/fb.png" width='50px' height='40px' />
            <button type="button" class="" id="fblogin" (click)="submitLogin();">Signin with facebook</button>
            </div>
          </div>
      </div>
  </div>
