div{
   
   .v-align{
       margin-top: 20%;
       height: 350px
   }

   .buttonContainer{
    height:40px;
    display: flex;
    margin-top:10px;
    cursor: pointer;
    justify-content: center;
  }
}